src/main/resources/xsd/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="firstname" type="xs:string"/>
                            <xs:element name="lastname"  type="xs:string"/>
                            <xs:element name="division"  type="xs:string" minOccurs="0"/>
                            <xs:element name="building"  type="xs:string" minOccurs="0"/>
                            <xs:element name="title"     type="xs:string" minOccurs="0"/>
                            <xs:element name="room"      type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>


<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="employeeid" type="xs:string"/>
                            <xs:element name="firstname"  type="xs:string"/>
                            <xs:element name="lastname"   type="xs:string"/>
                            <xs:element name="division"   type="xs:string" minOccurs="0"/>
                            <xs:element name="building"   type="xs:string" minOccurs="0"/>
                            <xs:element name="title"      type="xs:string" minOccurs="0"/>
                            <xs:element name="room"       type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>-->
